.buttonColor {
    background-color: darkgray;
    border: none;
    box-shadow: none;
    color: black;
    border-radius: 25px;
    margin-right: 2px;
    outline: 0;

}

.spacing {
    margin-right: 10px;
    outline: 0;
}

.navCSS {
    background-color: darkgray;
    margin-right: 2px;
    outline: 0;
}

.textFields {
    background-color: darkgray;
    color: black;
    box-shadow: none;
    margin-right: 2px;
    border: 1px, solid;
    border-color: darkgray;
    padding: 0px;
    outline: 0;
}


