
body{
    background-color: whitesmoke;
}
h1{
    font-family: "Barriecito";
    text-align: center;
    color: whitesmoke;
}

.header{
    width: 250px;
    height: 250px;
    margin: 10px;
    object-fit:cover;
    display: inline-block;
    text-align: center;
    opacity:1;
    border-radius: 50%;

    
}

.headertwo{
    width: 250px;
    height: 250px;
    margin-top: 125px;
    object-fit:cover;
    display: inline-block;
    text-align: center;
    opacity:1;
    border-radius: 50%;
   

    
}
#creeper{
    text-align: center;
    font-family: "Creepster";
    margin:auto;
    background:rgba(0, 0, 0, 0.8);
    /* margin-left: 28%; */
    display: inline-block;
    padding-bottom: 8px;
    padding-top: 6px;
    color: whitesmoke;
    letter-spacing: 10px;
    font-size: xx-large;
    
    


}
#lurk{
    display: inline-block;
}
.jumbotron{
    margin: auto;
    background-image: url("https://as2.ftcdn.net/jpg/00/62/02/13/1000_F_62021304_L3UarRi5RZmCjqdL7ripQBdOcWihdhqp.jpg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    padding-top: 16px;
   

}

#picBox{
    text-align: center;
}
h2{
    text-align: center;
    font-size: xx-large;

}
#mapTile{
    width:570px;
    height:570px;
    object-fit:cover;

}
#mainDiv{
    background: rgb(166, 166, 166,0.5);
    border-bottom: 2px black dotted;
    border-top:5px black solid;
   

    
}
.facts{
    font-family:"Viga";
}
#footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-family: "Viga";
    letter-spacing: 4.5px;
    width: 100%;
    bottom: 0;
    left: 0;
    clear: both;
    margin-top: 40px;
   
    }



#facts{
    font-family:"Viga";
    
}
#factHead{
    font-weight: bold;
    font-family: "Creepster";
    text-decoration: underline;
    text-align: center;
    margin: auto;
    
    
    
    /* margin-left: 25px; */

}
.ignored{
    text-align:center;
    border-top: 2px black dotted;
    border-bottom: 2px black dotted;
    font-size: large;
}
#instructRow{
    margin:auto;
    
}

#searchRow{
    margin:auto;

}
#jcont{
    margin-top:45px;
    background-color: black;
}
#welcome{
    color: whitesmoke;
}

.overlay {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
  }
  
  #picBox:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  
  
  #intro,#know,#crimeMap{
      
      text-align:center;
      color: black;
      -webkit-text-decoration: black double overline;
      text-decoration: black double overline;
      -webkit-text-decoration-skip: space;
      text-decoration-skip: space;
      -webkit-text-decoration: black double underline;
      text-decoration: black double underline;
      -webkit-text-decoration-skip: space;
      text-decoration-skip: space;
      font-family:"Barriecito"
      
      
      
  }
  #project,#login,#register{
      font-family:"Viga";
  }
  




/* sleek nav bar code starts */
/* General sizing */
ul.dropdown-lr {
  width: 300px;
  color:gray;
  background-color:rgb(29, 29, 29);
  font-family:"Creepster";
  letter-spacing: 3px;
  margin-right: 5px;
} 
#everywhere{
    font-family: "Creepster";
    color: whitesmoke;
    font-size:xx-large;
    
    letter-spacing: 10px;
    
    


}
.closer{
    margin-top: 25px;
}
.factlist{
    text-align:center;
    margin-left: 33%;
    padding-left: 33%;
}
#factcont{
    margin-left: 33%;
    margin-top: 30px;
}
#thanks{
    font-family:"Viga";
    
    
}
#safety{
    margin-top: 30px;
}





    

/* mobile fix  */
 @media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color:#eee;
    }
    
#thanks{
        font-family:"Viga";
        letter-spacing: 3px;
        
    }


/* sleek nav bar code ends */





 





  













     

